body { font-family: Arial, sans-serif; margin: 2em; }
.dropzone {
    border: 2px dashed #888;
    padding: 20px;
    text-align: center;
    cursor: pointer;
}
.dropzone.dragover {
    border-color: #333;
    background: #f0f0f0;
}
table { border-collapse: collapse; width: 100%; margin-top: 20px; margin-bottom: 20px;}
table, th, td { border: 1px solid #ccc; padding: 8px; }

.pagination p{
    padding-left: 10px;
    padding-right: 10px;
}
